<div class="row" ng-controller="HomeController">
  <div class="col-md-4">
    <h1>Montadoras</h1>
    <p>
      <label>Escolha a Montadora:</label>
      <select ng-options="maker as maker.name for maker in makers"
              ng-model="selected" ng-change="loadVehicles()"></select>
    </p>
  </div>

  <div class="col-md-4" ng-show="vehicles.length > 0">
    <h1>Veículos</h1>
    <ul>
      <li ng-repeat="vehicle in vehicles">{{ vehicle.name }}</li>
    </ul>
  </div>

</div>
